# SEMANA 05
Daniel Omar Diaz Seminario

Temas

1. Números 
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

In [ ]:
#Siempre deben iniciar con una letra o un guión abajo(nunca con un número u otro símbolo)

In [2]:
edad = 41
edad

41

In [3]:
nombre = "Daniel"
nombre

'Daniel'

In [5]:
apellido = "Diaz Seminario" 
apellido

'Diaz Seminario'

In [8]:
nombreCompleto = nombre + apellido
nombreCompleto

'DanielDiaz Seminario'

In [10]:
nombreCompleto = nombre + " " + apellido
nombreCompleto

'Daniel Diaz Seminario'

In [11]:
# Para saber el tipo de variable utilizamos la función type()

In [12]:
numero = 50
type(numero)

int

In [13]:
type(nombre)

str

In [14]:
talla = 1.65
talla

1.65

In [15]:
type(talla)

float

In [17]:
#Para convertir un número en cadena utilizamos la función str

In [20]:
numero = 100
cadena = str(numero)
cadena

'100'

In [21]:
type(cadena)

str

In [16]:
# Para covertir una cadena en un entero utilizamos int()

In [22]:
cadena2 = "50"
numero2 = int(cadena2)
cadena2

'50'

In [25]:
type(numero2)

int

In [26]:
# Para copnvertir una cadena a un decimal utilizamos float

In [27]:
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [28]:
type(numero2)

float