# SEMANA 05
Daniel Omar Diaz Seminario

Temas
1. Números 
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

# 5. Operadores

# 5.1 Operadores Aritméticos

# Se tiene +, -, *, /, **, //

In [9]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2 
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2 
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

# 5.2 Operadores de Asignación
# Se tienen

# +=, -=, *=, /=,**=

In [10]:
numero = 5
numero = numero + 3
print(numero)

8

In [20]:
numero = 5
numero += 3
print(numero)

8

In [22]:
numero = 5
numero **= 3
print(numero)

125

# Operadores de Comparación
se tiene: ==, !=, <,>, <= , >=

In [23]:
 #Ejemplo de igualdad
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [35]:
# probando con cadenas
nombre1 = "Daniel"
nombre2 = "Jose"
nombre3 = "Daniel"
nombre1 == nombre2

False

In [32]:
nombre1 = "Daniel"
nombre2 = "Daniel"
nombre1 == nombre2

True

# 5.4 Operadores Lógicos
se tiene: and, or, not

In [36]:
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8
numero1 < numero2

True

In [37]:
#el not invierte el resultado
not (numero1<numero2)

False

In [42]:
  numero1 < numero2 and numero3 < numero4
#    5    <    6     y   7      <  8

True

In [40]:
#Tambien se puede utilizar () para ordenar la operacion
(numero1)<(numero2) and (numero3)<(numero4) or (numero3) > (numero4)
#  5     <    6      y      7    <   8      o      7     >     8

True

In [43]:
(numero1) < (numero3) or (numero2) > (numero4)
#  5      <     7     o     6      >     8

True

# 5.5 Operadores de Pertenencia
#Tenemos: in, not in

In [45]:
#Ejemplo:
aula = ["Juan","Daniel","Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"
# ¿Diego está en el aula?
alumno1 in aula

False

In [46]:
#¿Juan está en aula?
alumno2 in aula

True

In [47]:
#¿Diego no está en aula?
alumno1 not in aula

True

In [48]:
#¿Juan no está en aula?
alumno2 not in aula

False

# Operadores de Identidad
se tiene: is, is not

In [51]:
aula1 = ["Juan","Daniel","Ruben"]
aula2 = ["Juan","Daniel","Ruben"]
# A continuación vamos a indicar que aula3 va a compartir(asignar) el mismo objeto
# que aula1
aula3 = aula1
#¿Aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [52]:
#Aula 3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [53]:
# Aula2 compárte el mismo objeto que aula1?
# Es falso porque aparentemente tienen los mismos elementos pero
# pueden tener los mismos valores pero no el mismo objeto
# aula1 y aula2 son objetos diferentes, no se compara valores sino objetos

aula2 is aula1

False

In [54]:
#Añadiendo elementos a aula1
aula1.append("Diego")

In [56]:
# al imprimir los elementos de la lista aula1 observamos
# al añadir al aula1 un elemento aula3 tambien lo tendrá
# ya que al inicio hicimos que se asignara aula1 con aula2
print(aula1)
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']
['Juan', 'Daniel', 'Ruben', 'Diego']