# SEMANA 06 - 01
Daniel Omar Diaz Seminario

Temas
1. Colecciones de Datos

# 1.1 Listas
Es una coleccion de elementos que pueden ser ordenada, modificada, etc. que tiene que ver con las listas.
se identifica que es una lista por los corchetes que muestra la lista.

In [21]:
# Ejemplo:
aula = ['Yauricasa', 'Granados', 'Alva', 'Laura']
print(aula)

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [22]:
#Puedo invocar la variable solo poniendo aula
aula

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [23]:
# Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])
print(aula[3])

Yauricasa
Granados
Laura

In [24]:
# Puedo asignar  un valor a una posicion de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [25]:
# Al hacer el cambio, se hizo que  chavez reemplazará a Granados
# que estaba en la posicion [1]
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura']

In [32]:
# Para agregar un elemento
aula.append("Huaman")

In [27]:
#El elemento agregado pasará a la ultima parte de la lista
print(aula)

['Yauricasa', 'Chavez', 'Alva', 'Laura', 'Huaman']

In [40]:
aula.append("Huancas")

In [29]:
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas']

In [30]:
# Ahora ¿Qué pasa si vuelvo a compilar la linea 16 de nuevo? 
# Lo que causará es que vuelva a agregar Huancas a la lista
print(aula)

['Yauricasa', 'Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas']

In [31]:
#Vemos que aparecen dos Huancas ahora, para esto 
# Usaremos el comando para eliminar elementos de la lista
aula.remove("Huancas")
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura', 'Huaman']

In [49]:
# Ahora  que pasaria si tuviera varios elementos iguales
# Volveremos a compilar todo nuevamente para este ejemplo
#Agregamos más alumnos
aula

['Yauricasa',
 'Chavez',
 'Alva',
 'Laura',
 'Huaman',
 'Huaman',
 'Huancas',
 'Laura',
 'Laura',
 'Huancas',
 'Huancas',
 'Diaz',
 'Diaz',
 'Diaz',
 'Chavez',
 'Chavez',
 'Chavez',
 'Chavez']

In [50]:
# Si hubiera varios elementos de valores iguales
# se elimina primero las coincidencias
aula.remove("Chavez")
aula

['Yauricasa',
 'Alva',
 'Laura',
 'Huaman',
 'Huaman',
 'Huancas',
 'Laura',
 'Laura',
 'Huancas',
 'Huancas',
 'Diaz',
 'Diaz',
 'Diaz',
 'Chavez',
 'Chavez',
 'Chavez',
 'Chavez']

In [51]:
#Se elimina el primero de las coincidencias
#segun su posición
#Para ver el tamaño de la lista
len(aula)

17

In [56]:
# Vuelvo a ejercutar
aula.remove("Chavez")

In [57]:
#Repito la ejecución con la linea anterior 
#Compilandola
aula

['Yauricasa',
 'Alva',
 'Laura',
 'Huaman',
 'Huaman',
 'Huancas',
 'Laura',
 'Laura',
 'Huancas',
 'Huancas',
 'Diaz',
 'Diaz',
 'Diaz',
 'Chavez']

In [58]:
#Otra forma de eliminar elementos de la lista es
aula.remove(aula[3])
# Eliminaremos el elementos de la posición 4
# que es Huaman

In [59]:
#Vemos que el elemento fue eliminado con éxito
aula

['Yauricasa',
 'Alva',
 'Laura',
 'Huaman',
 'Huancas',
 'Laura',
 'Laura',
 'Huancas',
 'Huancas',
 'Diaz',
 'Diaz',
 'Diaz',
 'Chavez']

In [60]:
#Otra forma de eliminar elementos
# con esa funcion ponemos el lugar el cual
# queremos eliminar pondremos el lugar 5
# Donde esta Laura
aula.pop(5)

'Laura'

In [63]:
# Observamos que el lugar fue eliminado y nos indica 
# el elemento que se eliminó
print(aula)
len(aula)

['Yauricasa', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Laura', 'Huancas', 'Huancas', 'Diaz', 'Diaz', 'Diaz', 'Chavez']

12

In [64]:
aula.pop(6)
print(aula)
len(aula)

['Yauricasa', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Laura', 'Huancas', 'Diaz', 'Diaz', 'Diaz', 'Chavez']

11

In [65]:
# Si solo ponemos la funcion aula.pop() sin agregar la posición
# de forma automática eliminará la última posición
aula.pop()

'Chavez'

In [66]:
aula.pop()

'Diaz'

In [67]:
aula

['Yauricasa',
 'Alva',
 'Laura',
 'Huaman',
 'Huancas',
 'Laura',
 'Huancas',
 'Diaz',
 'Diaz']

In [74]:
#Eliminaremos todos los elementos repetidos
#aula.pop()
#aula.append("Diaz")
print(aula)

['Yauricasa', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Diaz']

In [75]:
#Estructuras repetitivas
for alumno in aula:
    print(alumno)

Yauricasa
Alva
Laura
Huaman
Huancas
Diaz

In [76]:
aula.append("Vilca")
aula.append("Gavino")
print(aula)

['Yauricasa', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Diaz', 'Vilca', 'Gavino']

In [77]:
for alumno in aula:
    print(alumno)

Yauricasa
Alva
Laura
Huaman
Huancas
Diaz
Vilca
Gavino

In [78]:
# Invertirmos la lista
# Se invierte segun las posiciones, no de orden alfabético
aula.reverse()
print(aula)

['Gavino', 'Vilca', 'Diaz', 'Huancas', 'Huaman', 'Laura', 'Alva', 'Yauricasa']

In [79]:
# Si quisiera ordenar la lista
# Orden de manera ascendente
aula.sort()
print(aula)

['Alva', 'Diaz', 'Gavino', 'Huaman', 'Huancas', 'Laura', 'Vilca', 'Yauricasa']

# 1.2 Tuplas
Es una colección de elementos ordenada(Ordenado significa que tiene un indice)que no se pueden modificar, es INALTERABLE.  
En las tuplas no se pueden agregar elementos ni eliminar, se identifican por los parentesis

In [81]:
#Ejemplo
tupla_aula = ('Granados','Julca','Cusi','Marcos')
tupla_aula

('Granados', 'Julca', 'Cusi', 'Marcos')

In [82]:
# Se puede recorrer con una estrutura repetitiva
# ejemplo: for
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Marcos

In [88]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Cusi'

In [89]:
len(tupla_aula)

4

# 1.3 Conjuntos
Es un conjunto de elementos que no esta ordenado(significa que no tiene un indice)
estos se muestran entre llaves {}

In [91]:
conjunto_aula = {'Granados','Julca','Cusi','Marcos'}
print(conjunto_aula)

{'Cusi', 'Julca', 'Marcos', 'Granados'}

In [92]:
# Se puede recorrer utilizando una estructura repetitiva
for alumno in conjunto_aula:
    print(alumno)

Cusi
Julca
Marcos
Granados

In [93]:
#Observación: no se puede acceder por posición 
# porque no considera indexación
conjunto_aula[2]
# No muestra error

TypeError: 'set' object is not subscriptable

In [94]:
len(conjunto_aula)

4

In [95]:
# Para agregar utilizamos la función add()
conjunto_aula.add("Diaz")

In [96]:
print(conjunto_aula)

{'Julca', 'Cusi', 'Diaz', 'Granados', 'Marcos'}

In [97]:
# Para eliminar 
conjunto_aula.remove("Diaz")

In [98]:
print(conjunto_aula)

{'Julca', 'Cusi', 'Granados', 'Marcos'}

# 1.4 Diccionarios
Es una colección de elementos, que están indexados(no están ordenados y se pueden modificar). Son escritos entre llaves y están formados por pares de elementos 
INDICE:VALOR

In [99]:
diccionario_aula = {2:'Cusi','1':'Julca','dos':'Marcos', '0':'Motta'}
print(diccionario_aula)

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta'}

In [100]:
# Extraer el valor cuyo indice sea del tipo cadena
diccionario_aula['0']

'Motta'

In [101]:
diccionario_aula[2]

'Cusi'

In [102]:
diccionario_aula['dos']

'Marcos'

In [103]:
# Agregar elementos al diccionario
diccionario_aula['20'] = "Cerna"
print(diccionario_aula)

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Cerna'}

In [104]:
# Para eliminar un elemento
# Elimina al que tiene indice 2
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Cerna'}

In [105]:
# Otra funcion que permite eliminar elementos de diccionario 
del(diccionario_aula["dos"])
print(diccionario_aula)

{'1': 'Julca', '0': 'Motta', '20': 'Cerna'}

In [106]:
# Podemos recorrer todos los elementos utilizando for
# Devuelve los indices
for indice in diccionario_aula:
    print(indice)

1
0
20

In [107]:
# Para obtener el indice y el valor de cada elemento utilizamos items
for indice, valor in diccionario_aula.items():
    print(indice,valor)

1 Julca
0 Motta
20 Cerna

Ejercicio
Dado una lista de [ALANYA, ALVA, GOMES, AZAÑERO, CARRRASCO, CCACCYA, CUSI, DIAZ, FLORES, GOMEZ, GOMEZ, GRANADOS, HUANZAS, JULCA, LAURA, MOTTA, PINEDO, PONCE, QUINTANA, RODRIGUEZ, SERNA, VILCA, YAURICASA] Diseñar un código que muestre si el apellido de un estudiante (que sea ingreso por teclado forma parte de la lista)

In [136]:
# Tenemos que buscar el datos que ingresemos por teclado y para esto tenemos que buscarlo dentro de la listas
# por lo que if nombre in lista_salon indica que va a buscar el nombre dentro de la listra 
lista_salon = ['ALANYA', 'ALVA', 'GOMES', 'AZAÑERO', 'CARRASCO', 'CCACCYA', 'CUSI', 'DIAZ', 'FLORES', 'GOMEZ', 'GOMEZ', 'GRANADOS', 'HUANZAS', 'JULCA', 'LAURA', 'MOTTA', 'PINEDO', 'PONCE', 'QUINTANA', 'RODRIGUEZ', 'SERNA', 'VILCA', 'YAURICASA']
nombre = input("Ingrese el apellido del estudiante: ")
if nombre in lista_salon:
    print("El alumno está en la lista")
else:
    print("El alumno no está en la lista")

Ingrese el apellido del estudiante: mama
El alumno no está en la lista

In [142]:
# Otra manera de resolver el ejercicio fue usando ELIF que permite crear otra condición
# en este caso use lo opuesto a in, que es not in que (no está).
lista_salon = ['ALANYA', 'ALVA', 'GOMES', 'AZAÑERO', 'CARRASCO', 'CCACCYA', 'CUSI', 'DIAZ', 'FLORES', 'GOMEZ', 'GOMEZ', 'GRANADOS', 'HUANZAS', 'JULCA', 'LAURA', 'MOTTA', 'PINEDO', 'PONCE', 'QUINTANA', 'RODRIGUEZ', 'SERNA', 'VILCA', 'YAURICASA']
nombre = input("Ingrese el apellido del estudiante: ")
if nombre in lista_salon:
    print("El alumno está en la lista")
elif nombre not in lista_salon:
    print("El alumno no está en la lista")

Ingrese el apellido del estudiante: cusi
El alumno no está en la lista