# SEMANA 06 - 02

Diaz Seminario Daniel

Temas
1. Colecciones de datos
2. Estructuras Decisivas y Estructuras Repetitivas
3. Funciones 
4. Clases y Objetos

# 2. Estructuras Decisivas y Estructuras repetitivas (Bucles y Condiciones)

# 2.1 Estructuras Decisivas (if, else,elif)

In [8]:
# if
# Dado el precio de tres productos ingresados por el teclado, aplicar un descuento del 10%
# si la venta es mayor o igual a 1000
p1 = float(input("Producto 1: "))
p2 = float(input("Producto 2: "))
p3 = float(input("Producto 3: "))
total = p1 + p2 + p3
if total >= 1000:
    total*=0.9
print(f"total a pagar es:{total}")

Producto 1: 250
Producto 2: 250
Producto 3: 600
total a pagar es:990.0

In [20]:
# if - else 
# Dar una lista de [ALANYA, ALVA, GOMES, AZAÑERO, CARRRASCO, CCACCYA, CUSI, DIAZ, FLORES, GOMEZ, GOMEZ, GRANADOS, HUANZAS, JULCA, LAURA, MOTTA, PINEDO, PONCE, QUINTANA, RODRIGUEZ, SERNA, VILCA, YAURICASA]
# Diseñar un programa que muestre si el apellido del estudiante se encuentra en la lista
# Forma de la profesora
LP3 = ['ALANYA', 'ALVA', 'GOMES', 'AZAÑERO', 'CARRASCO', 'CCACCYA', 'CUSI', 'DIAZ', 'FLORES', 'GOMEZ', 'GOMEZ', 'GRANADOS', 'HUANZAS', 'JULCA', 'LAURA', 'MOTTA', 'PINEDO', 'PONCE', 'QUINTANA', 'RODRIGUEZ', 'SERNA', 'VILCA', 'YAURICASA']
apellido = input("Ingrese nombre que busca: ")
# copmo los datos están en mayuscula, utilizamos upper()
# o sea que al ingresar el apellido tanto en mayusculas o minusculas 
# el programa lo encontrará
if apellido.upper() in LP3:
    print("Si está en la lista de LP3")
else:
        print("No está en la lista de LP3")

Ingrese nombre que busca: DIAZ
Si está en la lista de LP3

In [1]:
Monto = float(input("Monto de ventas del empleado: "))
if Monto >= 0 and Monto <= 1000:
    print("Categoria A")
if Monto > 1000 and Monto <= 2000:
    print("Categoria B")
if Monto > 2000 and Monto <= 5000:
    print("Categoria C")
if Monto > 5000:
    print("Categoria D")

Monto de ventas del empleado: 2000
Categoria B

In [2]:
# Dado el importe total de ventas realizadas por un trabajador (Ingresado por teclado)
# Categorizar que tipo de empleado es, considerando la siguiente tabla
# Categoria A --> [0,1000]
# Categoria B --> [1000,2000]
# Categoria C --> [2000,5000]
# Categoria D --> [5000, más]
Monto = float(input("Monto de ventas del empleado: "))
if Monto >= 0 and Monto <= 1000:
    print("Categoria A")
elif Monto > 1000 and Monto <= 2000:
    print("Categoria B")
elif Monto > 2000 and Monto <= 5000:
    print("Categoria C")
elif Monto > 5000:
    print("Categoria D")

Monto de ventas del empleado: 2000
Categoria B

# Estructuras Repetitivas
# for

Mostrar los elementos de una lista usando for

In [3]:
aula = ['Yauricasa', 'Granados', 'Alva', 'Laura']
# Por cada alumno que está en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Yauricasa
Granados
Alva
Laura

In [4]:
# Problema 02:
# Dado una cadena ingrese por teclado mostrar cada caracter
# de la cadena utilizando la estructura for
cadena = input("Ingrese cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese cadena: daniel
d
a
n
i
e
l

In [5]:
# Para generar los rangos de los numeros
# utilizamos range()
range(5)

range(0, 5)

In [12]:
# imprimir los numeros de 0 a 10
# utilizando for
numeros = range(11)
for numero in numeros:
    print(numero)

0
1
2
3
4
5
6
7
8
9
10

In [13]:
# imprimir los numeros 10 al 20, utilizando for
# los numeros pares 
#range(10,22,2) paranetro 10 al 20 y el 2 indica de cuantos ira yendo
for numero in range(10,22,2):
    print(numero)

10
12
14
16
18
20

In [16]:
# Problema 3
# Dado una lista de números, utilizando el algoritmo de burbuja
#ordenarlos de menor a mayor
print("LISTA INICIAL: ")
lista = [10,20,5,-10,100,0,50,17,2000,-1000,0]
print(lista)
for i in range(0,len(lista)-1):
    for j in range(i+1, len(lista)):
        if lista[i] > lista[j]:
            temp = lista[i]
            lista[i]=lista[j]
            lista[j] = temp
print("lista ordenada")
print(lista)

LISTA INICIAL:
[10, 20, 5, -10, 100, 0, 50, 17, 2000, -1000, 0]
lista ordenada
[-1000, -10, 0, 0, 5, 10, 17, 20, 50, 100, 2000]

In [26]:
print("LISTA INICIAL: ")
lista = [10,20,5,-10,100,0,50,17,2000,-1000,0]
print(lista)
for i in range(1, len(lista)):
    for j in range(0, len(lista)-i):
        if (lista[j+1] < lista[j]):
            temp= lista[j]
            lista[j] =  lista[j+1]
            lista[j+1]= temp
print(lista)

LISTA INICIAL:
[10, 20, 5, -10, 100, 0, 50, 17, 2000, -1000, 0]
[-1000, -10, 0, 0, 5, 10, 17, 20, 50, 100, 2000]

# While

Ejemplo:

In [1]:
numero = 1
fin = 10
while numero <= fin:
    print(numero)
    numero+= 1

1
2
3
4
5
6
7
8
9
10